@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


$dark_green:  #697859;
$light_green: #D2FDB0;
$white:       #FFFFFF;
$black:       #000000;



$main_font: 'Josefin Sans', sans-serif;